<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<footer th:fragment="footer">
   <!-- <div th:fragment="ftLogo">
        <div style="width: 100px; height: 40px; border: 5px solid blue; font-size: 30px; text-align: center">LOGO</div>
    </div>

    <nav th:fragment="fnb">
        <li><a href="">제휴문의</a></li>
        <li><a href="">회원약관</a></li>
        <li><a href="">이메일 무단 수집거부</a></li>
        <li><a href="">개인정보처리방침</a></li>
    </nav>

    <div th:fragment="copy">
        <p class="addr">
            <span>서울시 금천구 가산로 9길 54</span>
            <span>대표자 구예진</span>
        </p>
        <p class="copyright">COPYRIGHT 1981-2024 CHUNJAE EDUCATION INC. </p>
    </div>
-->


    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">제휴문의</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">회원약관</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">이메일 무단 수집거부</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">개인정보처리방침</a></li>
            </ul>

            <p class="addr text-center">
                <span>서울시 금천구 가산로 9길 54</span>
                <span>대표자 구예진</span>
            </p>
            <p class="text-center text-muted">COPYRIGHT 1981-2024 CHUNJAE EDUCATION INC.</p>
        </footer>
    </div>
</footer>